@import "../app-variables";

.background{
    background-image: url("res://background_login");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

.title-login{
    color:#6644CC;
    text-align: center;
    &.green{
        color: $color_green;
    }
    &.small{
        font-size:12;
        font-weight: 300;
    }
    &.big{
        font-size:40;
        font-weight: bold;
    }
}

.social-icon{
    font-size: 30;
    &.red{
        color: $color_red;
    }
    &.blue{
        color: #3497FD;
    }    
}